.contents {
  width: 100%;
  min-height: calc(100vh - #{rem(150)});
  padding: rem(50) 0;
}
.container {
  display: flex;
  padding: 0 20px;
}
.dom {
  width: 100%;
  margin-top: 46px;
  overflow: hidden;
}
.tableWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}
.btnList {
  display: flex;
}
.gantt_container {
  height: calc(100vh - 50px - 200px);
}
