.contents {
  width: 100%;
  min-height: calc(100vh - #{rem(150)});
  padding: rem(50) 0;
}
.container {
  display: flex;
}
.dom {
  width: 100%;
  overflow: hidden;
}
.tableWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}
.btnList {
  display: flex;
}
.taskTable, th, td {
  padding: 5px;
  border: 1px solid #ccc;
}
.taskTable {
  border-spacing: 0;
  border-collapse: collapse;
  width: 400px;
}
.gantt_container {
  height: calc(100vh - 50px - 200px);
}
