.taskTable,
th,
td {
  padding: 5px;
  border: 1px solid #ccc;
}
thead {
  td {
    vertical-align: middle;
    height: 40px;
  }
}
tbody {
  td {
    vertical-align: middle;
    height: 54px;
  }
}
.taskTable {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  width: 400px;
  thead {
    tr {
      > :first-child {
        width: 20%;
      }
      > :nth-of-type(2) {
        width: 55%;
      }
      > :nth-of-type(3) {
        width: 15%;
      }
      > :nth-of-type(4) {
        width: 10%;
      }
    }
  }
}
.hoverRow {
  &:hover {
    background-color: aliceblue;
  }
}
.vertAlign {
  vertical-align: middle;
}
.flexCenter {
  display: flex;
  align-items: center;
  height: 100%;
}
.justifyCenter {
  justify-content: center;
}
.textCenter {
  text-align: center;
}
.pointerCursor {
  cursor: pointer;
}
.expController {
  display: inline-block;
  height: 16px;
  margin-right: 6px;
}
.emptyController {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
