@import '_mixin.scss';
@import '_variable.scss';
@import './utils/_reset.css';

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}
html {
  font-size: 10px;
}
body {
  color: #000;
  font-family: 'Ubuntu', sans-serif;
  font-size: rem(12);
  font-weight: 500;
  line-height: 23px;
}
.wrap {
  width: 94%;
  max-width: 1200px;
  margin: 0 auto;
}
a {
  color: #000;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
.FormInput {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  > span {
    margin: 0 5px;
  }
  > div {
    position: relative;
    input {
      width: 100%;
      border-radius: 0;
      border: 1px solid #ddd;
      outline: none;
      height: 30px;
      padding: 10px;
    }
    &::before {
      content: '';
      z-index: 1;
      background-image: url('../images/date.png');
      position: absolute;
      top: 0;
      bottom: 0;
      right: 5px;
      margin: auto 0;
      width: 20px;
      height: 20px;
    }
  }
}

@media only screen and (max-width: #{$mobile}px) {
  html {
    font-size: 10 / $mobile * 100vw;
  }
}

@import '_header.scss';
@import '_addNewTask.scss';
@import '_contents.scss';
@import '_footer.scss';
