.dateGroup {
  display: flex;
  justify-content: space-between;
}
.flexItem {
  width: 48%;
}
.dateItem {
  position: relative;
  margin-bottom: 15px;
  &::before {
    content: '';
    z-index: 1;
    background-image: url('../images/date.png');
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto 0;
    width: 20px;
    height: 20px;
  }
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal {
  z-index: 100;
  position: relative;
  margin: 0 auto;
  border-radius: 3px;
  width: 700px;
  // max-width: 600px;
  padding: 2rem;
  background: white;
}

.ip {
  width: 100%;
  border-radius: 0;
  border: 1px solid #ddd;
  outline: none;
  height: 30px;
  margin-bottom: 15px;
  padding: 10px;
}
.slider {
  width: 100%;
  margin: 5px 0 15px;
}

.inputSlider {
  width: 50px;
  border-radius: 0;
  border: 1px solid #ddd;
  outline: none;
  height: 24px;
  margin: 0 5px;
  padding: 0 5px;
}

.textarea {
  width: 100%;
  border-radius: 0;
  border: 1px solid #ddd;
  outline: none;
  height: 90px;
  max-height: 150px;
  margin-bottom: 15px;
  padding: 10px;
  resize: vertical;
}
.form_ttl {
  font-size: 30px;
  margin-bottom: 30px;
}

.time {
  > input {
    width: 100%;
    border-radius: 0;
    border: 1px solid #ddd;
    outline: none;
    height: 30px;
    padding: 10px;
  }
}
.modal_wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.btn_list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 35px;
  margin-left: 20px;
  background: #247ba0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  &:hover {
    opacity: 0.7;
  }
}

.delete_btn {
  background: #d80202;
}

.modal_header {
  display: flex;
  justify-content: flex-end;
}

.modal_close_button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;
}

button {
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  margin-left: 0.5rem;
  outline: none;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}
