.list {
  display: flex;
  margin-top: 20px;
  margin-left: 25px;
}

.item {
  padding: 3px 12px;
  background: #f1f1f1;
  color: black;
  text-align: center;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.text {
  line-height: 29px;
  margin-right: 5px;
}
